nav.nav
    .outer-container.nav
        .inside-container.left.nav
            a(href='/')
                span.navbar-brand Triangle Trade
        .inside-container.middle.nav
            .search
                form 
                    input.search(type="text" name="search" placeholder="搜尋標題、分類、tags")
                    button.search(type="submit")
        .inside-container.right.nav
            .userbar
                a(id="navbar-member-link")
                    span.nav-right 登入/註冊
                    .notification-area.sign(id="sign-area")
                        .notification-div.outer.sign
                            form.sign(action="/api/1.0/users/signin" method="post" id="sign-form")
                                .input-div.sign
                                    input.id(placeholder="帳號" name="id" type="text" autocomplete="off" value="test")
                                    input.pwd(placeholder="密碼" name="password" type="password" value="123") 
                                    //- input.nickname(placeholder="暱稱" name="name" type="text")
                                button(type="submit")
                                button(type="submit" id="signin-btn") 送出
                            .to-signup
                                a(href="/users/signup")
                                    span 註冊請點此
            .fast-btn-div
                a(id="add-item" class="fast-btn" title="新增交換物品") 
                    span.nav-right 新增
                a(id="match-notification" class="fast-btn" title="配對確認頁") 
                    span.nav-right 配對
                a(class="fast-btn" id="match-confirmed" title="交換討論頁") 
                    span.nav-right 對話
                a(id="general-notification" class="fast-btn" title="系統訊息") 
                    .fast-btn-sub.notification
                        span.nav-right(id="notification-span") 通知
                    .notification-area.notification(id="notification-area")
script(src="/javascripts/header.js")