nav.nav
    .outer-container.nav
        .inside-container.left.nav
            a(href='/' id="navbar-homepage-link")
                img(src="/images/t3t_icon.png" alt="" class="t3t-icon")
                span.navbar-brand Triangle Trade
        .inside-container.middle.nav
            .search
                form
                    input.search(type="text" name="search" placeholder="搜尋標題、hashtags" id="search")
                    button.search(type="submit")
        .inside-container.right.nav
            .userbar
                a(id="navbar-member-link")
                    span.nav-right 登入/註冊
                    .notification-area.sign(id="sign-area")
                        .notification-div.outer.sign
                            form.sign(action="/api/1.0/users/signin" method="post" id="sign-form")
                                .input-div.sign
                                    input.id(placeholder="帳號" name="id" type="text" autocomplete="off" value="test")
                                    input.pwd(placeholder="密碼" name="password" type="password" value="123") 
                                button(type="submit")
                                button(type="submit" id="signin-btn") 送出
                            .to-signup
                                a(href="/users/signup")
                                    span 前往註冊頁
            .fast-btn-div
                a(id="add-item" class="fast-btn") 
                    span.nav-right 新增物品
                a(id="want-invitation" class="fast-btn") 
                    span.nav-right 邀請查詢
                a(id="match-notification" class="fast-btn") 
                    span.nav-right 配對查詢
                a(class="fast-btn" id="match-confirmed") 
                    span.nav-right 成交紀錄
                a(id="general-notification" class="fast-btn") 
                    .fast-btn-sub.notification
                        span.nav-right(id="notification-span") 系統通知
                    .notification-area.notification(id="notification-area")
script(src="/javascripts/header.js")