nav.top-navbar
    .container
        .navbar-header
            a(href='/')
                h1.navbar-brand Triangle Trade
        .navbar-middle
            .container-inside
                input.search(type="text", name="search", placeholder="Search...")
                //- drop down list
                //- div.list()
                //-     span Board List
                //- select.list(onchange=`window.location.assign('/board/${this.value}')`)
                //- select.list(onchange=`locateToBoard(${this})`)
                select.list(onchange='locateToBoard()' id="select-list")
                    option(value="boardlist") Board List
                    option(value="basketball") Basketball
                    option(value="photograph") Photograph
        .navbar-right
            .container-inside
                div.member
                    a(href="/users/signin" id="navbar-member-link") SIGN IN
                    //- if !nickname
                        //- link to sign_in / sign_up page
                    //- else 
                    //-     //- link to user page
                    //-     a(href="/")=nickname
                    //-     //- drop down list
                a(href="/")
                    //- link to notification page
                    img.notification(src="/images/notification.png", alt="")
                a(href="/")
                    //- link to favorite page
                    img.likes(src="/images/likes.png", alt="")
                a(href="/")
                    //- link to message page
                    img.message(src="/images/message.png", alt="")
                a(href="/items/new")
                    //- link to new item page
                    img.plus(src="/images/plus.png", alt="")
script(src="/javascripts/header.js")
            //- ul.nav.navbar-nav.navbar-right
            //-     if user
            //-         li.dropdown
            //-             a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
            //-                 span #{user.name || user.email} &nbsp;
            //-                 i.caret
            //-             ul.dropdown-menu
            //-                 li
            //-                     a(href='/profile') Profile
            //-                 li.divider(role='separator')
            //-                 li
            //-                     a(href='/logout') Logout
            //-     else
            //-         li(class=(title == 'Log in') ? 'active' : null)
            //-             a(href='/login') Log-in
            //-         li(class=(title == 'Register') ? 'active' : null)
            //-             a(href='/register') Register
//- /.nav-collapse