extends layout
block content
  .main 
    .container
      .main-left
        .sub-main-container
          .subtext.subscribe 訂閱看板
            //- for (i=0;i<6;i++)
          .subscribe-item
            .subscribe-content 
              span #Camera
            .subscribe-content
              span #iPhone
            .subscribe-content
              span #Xbox
            .subscribe-content
              span #Ethan
            .subscribe-content
              span #Is
            .subscribe-content
              span #God
      .main-middle
        //- .sub-main-container.news
          //- .subtext.news News
        .sub-main-container.recommands
          .subtext.recommand 新物品清單
          .items-area.recommands(id="items-area-recommand")
            //- item div start here 
            //- - let n = 0;
            //- while n <6
            //-   .item-container-outside.recommands
            //-     .item-container-inside.recommands
            //-       .based-on
            //-         span Based on
            //-         span.item #Shoes
            //-       .item-img.recommands
            //-         img(src="", alt="" id="img")
            //-       .item.content
            //-         .title Title
            //-         .item-info 
            //-           span.nickname aaa
            //-           //- span.likes 10
            //-           span.status used
            //-         .tags tags
            //-           span tag
            //-   - n++
          .nomore-text-div(onclick="createMoreItems()" id="nomore-text-div") Get More Items
      .main-right
        .sub-main-container
        .subtext.ads 廣告
        .ads
          img(src="./images/gad.png", alt="")
  script(src="/javascripts/index.js")
  - console.log(itemsResultArr);
