extends layout
block content
  .main 
    .container
      .main-left
        .sub-main-container
          .subtext Subscribes
            //- for (i=0;i<6;i++)
          .subscribe-item
            .subscribe-content #Camera
      .main-middle
        .sub-main-container
          .subtext Recommands
          .sub-main-container.recommand
            .recommand-raw
      .main-right
        .sub-main-container
          .ads
            img(src="./images/gad.png", alt="")
  
