extends layout
block content
  .main 
    .container
      .main-left
      .main-middle.add-item
        .subtext.add-item Add items
        .sub-main-container.add-item
          form(action="/api/1.0/items/new" method="post" id="add-items-form" enctype="multipart/form-data")
            input(type="text" name="token" id="token-input" style="display:none;")
            p Main Category
            //- input.main-category(name="main_category" type="text" placeholder="Basketball" value="basketball" required)
            select(name="main_category" id="main_category" onchange="changeSubOption()")
              option(value="basketball") Basketball
              option(value="photograph") Photograph
            p Sub Category
            select(name="sub_category" id="sub_category")
            //- input.sub-category(name="sub_category" type="text" placeholder="Shoes" value="shoes")
            p Tags(start with #, seperate by space)
            input.tags(name="tags" type="text" placeholder="Max 40 words" value="\#Basketball \#Kobe" maxlength="40")
            p Title
            - let randomTitle = 'R-Title '+`${Math.round(Math.random()*99999)}`
            input.title(name="title" type="text" placeholder="Max 30 words" value=randomTitle required maxlength="30")
            //- input.status(name="status" type="text" placeholder="Used" value="Used" required)
            p Count
            - let randomCount = Math.round(Math.random()*9)+1
            input.count(name="count" type="number" placeholder="At least one item" value=randomCount min=1 required)
            p Item Status
            select(name="status")
              option(value="new") New
              option(value="used") Used
              option(value="lookonly") Look Only
            p Introduction
            input.introduction(name="introduction" type="text" placeholder="Say something about this item" value="yoyoyo")
            p Pictures (up to 6)
            input.pictures(type="file", name="pictures" accept="image/*" id="pics-input" multiple required)
            .button-div
              button(type="submit" id="add-items-btn") Add items
      .main-right
  script(src="/javascripts/items_add.js")