if successMsg
  input(id="successMsg" style="display:none;" value=`${successMsg}`)
if errorMsg 
  input(id="errorMsg" style="display:none;" value=`${errorMsg}`)
script(src="/javascripts/item_result.js")