extends layout
block content
  .main 
    .container
      .main-left
      .main-middle.add-item
        .subtext.add-item Add items
        .sub-main-container.add-item
          form(action="/api/1.0/items/new" method="post" id="add-items-form" enctype="multipart/form-data")
            input(type="text" name="token" id="token-input" style="display:none;")
            p Main Category
            input.main-category(name="main_category" type="text" placeholder="Basketball" value="basketball")
            p Sub Category
            input.sub-category(name="sub_category" type="text" placeholder="Shoes" value="shoes")
            p Tags(start with #, seperate by comma)
            input.tags(name="tags" type="text" placeholder="\#Basketball, \#Kobe" value="\#Basketball, \#Kobe")
            p Title
            input.title(name="title" type="text" placeholder="Kobe basketball shoes" value="Kobe basketball shoes")
            p Item Status
            input.status(name="status" type="text" placeholder="Used" value="Used")
            p Count
            input.count(name="count" type="number" placeholder="Item Category" value=1 min=1)
            p Introduction
            input.introduction(name="introduction" type="text" placeholder="Introduction" value="yoyoyo")
            p Pictures (up to 6)
            input.pictures(type="file", name="pictures" accept="image/*" id="pics-input" multiple required)
            .button-div
              button(type="submit" id="add-items-btn") Add items
      .main-right
  script(src="/javascripts/items_add.js")