<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="Description" content="Triangle Trade 是嗜好導向的蒐藏品交換與收藏家社交平台，縮短您與夢幻逸品的距離，僅僅一指之間。")
    title Triangle Trade
    link(rel="icon" type="img/png" href="/images/t3t_icon.png") 
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    include includes/header.pug
    block content
    include includes/footer.pug
    