extends layout
block content
  .main 
    .container
      .main-left
        .sub-main-container
          .subtext.subscribe Matched Items
          if b_itemObjectArr.length > 0
            each want in b_itemObjectArr
              .subscribe-item(onclick=`getMatchedResultData(${want.id}, '${want.title}', 'want')`)
                .subscribe-content 
                  span=want.title
            else
              .subscribe-item
                .subscribe-content 
                  span No_Matches
      .main-middle
        //- .sub-main-container.news
          //- .subtext.news News
        .sub-main-container.recommands
          .subtext.recommand(id="subtext-matched-result-page") Matched Results
          .items-area.recommands(id="items-area-match")
            //- item div start here 
            //- - let n = 0;
            //- while n <6
            //-   .item-container-outside.recommands
            //-     .item-container-inside.recommands
            //-       .based-on
            //-         span Based on
            //-         span.item #Shoes
            //-       .item-img.recommands
            //-         img(src="", alt="" id="img")
            //-       .item.content
            //-         .title Title
            //-         .item-info 
            //-           span.nickname aaa
            //-           //- span.likes 10
            //-           span.status used
            //-         .tags tags
            //-           span tag
            //-   - n++
          .nomore-text-div(id="nomore-text-div") No More Matches
      .main-right
        .sub-main-container
        .subtext.ads Advertisement
        .ads
          img(src="/images/gad.png", alt="")
  script(src="/javascripts/match_check.js")
