extends layout
block content
  .main 
    .container
      .main-left
        .sub-main-container
          .subtext.subscribe 已配對物品
          - console.log(b_itemObjectArr.length)
          if b_itemObjectArr.length > 0
            each want in b_itemObjectArr
              .subscribe-item(onclick=`getMatchedResultData(${want.id}, '${want.title}', 'want')`)
                .subscribe-content 
                  span=want.title
          else
            .subscribe-item
              .subscribe-content 
                span 目前沒有配對
      .main-middle.matches-page
        //- .sub-main-container.news
          //- .subtext.news News
        .sub-main-container.recommands
          .subtext.recommand(id="subtext-matched-result-page") 配對結果
          .items-area.recommands(id="items-area-match")
          .nomore-text-div(id="nomore-text-div") 請點選左方商品列查看更多配對
  script(src="/javascripts/match_check.js")
