extends layout
block content
  main
    .outer-container.main
      .inside-container.main.left
        .sub-container.main.left
          .sidebar.left(id="gone-item-area" style="display:none;")
      .inside-container.main.middle.detail
        .sub-container.main.middle.detail
          .items-area.detail.msg(id="items-area-recommand")
            .msg-top-area
              .msg-top(id="matchers")
              .msg-top(id="items-info-btn") 顯示成交物品  
              .items-info-div(id="items-info-div" style="display:none;")
            .items-area.talk(id="msg-scroll")
              .msg-area(id="msg-area")
                .msg-line
                  .msg-div 
                    .msg-topbar
                      .msg-name System
                      .msg-time 
                    .msg-content 請點選右邊配對結果，開啟對話視窗～
            .horizental-line
            .user-interact-area
              textarea.user-type-div(type="text" placeholder="請在此輸入訊息，最長250字元" name="user-type-content" id="user-type-content" maxlength="250")
              button.msg-send-btn(type="button" id="send-msg-btn") 傳送訊息
      .inside-container.main.right
        .sub-container.main.right.user-item
          .items-area.top
            h1.sub-title.user-item(id="item-add-subtitle") 成交物品清單
          .items-area.user-items
            .sub-main-container.user-items(id="items-area-user-item")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
  script(src="/javascripts/socketPage.js")
  script(src="/javascripts/match_confirmed.js")