extends layout
block content
  .main 
    .container
      .main-left
      .main-middle.sign
        .subtext.sign Member Sign In
        .sub-main-container.sign
          form(action="/api/1.0/users/signin", method="post" id="sign-form")
            p ID for Sign In
            input.id(name="id" type="text" max=10 placeholder="ID for Sign In" value="test")
            p Password
            input.password(name="password" type="password" placeholder="Password" value="123")
            .button-div
              button(type="button" id="signin-btn") Sign In
          .button-div.sign
            button(type="button" onclick="location.href='/users/signup'") Register
      .main-right
  script(src="/javascripts/signin.js")