extends layout
block content
  .main 
    .container
      .main-left
      .main-middle.sign
        .subtext.sign 會員註冊
        .sub-main-container.sign
          form(action="/api/1.0/users/register", method="post" id="sign-form")
            p 會員ID （登入用, 最多 10 碼）
            input.id(name="id" type="text" maxlength=10 placeholder="ID for Sign In, max 10" required)
            p 會員密碼
            input.password(name="password" type="password" placeholder="Password" value="123" required)
            p 會員暱稱
            input.name(name="name" type="text" placeholder="Nickname" required)
            p 手機號碼
            input.phone(type="tel", name="phone" placeholder="Cell Phone Number" value="51051133" required)
            p 電子信箱
            input.email(type="email", name="email" placeholder="Email Address" value="111@dasd.com" required)
            p 居住縣市
            input.city(type="text", name="city" placeholder="city" value="taipei")
            p 地址
            input.address(type="text", name="address" placeholder="Address" value="asdasd64056asd")
            .button-div
              button(type="button" id="submit-btn") 點此註冊
          .button-div.sign
            button(type="button" onclick="location.href='/users/signin'") 我要登入
      .main-right
  script(src="/javascripts/signup.js")