extends layout
block content
  main
    .outer-container.main
      .inside-container.main.left
        .sub-container.main.left
          .subtext.subscribe(id="subs-subtext") 
      .inside-container.main.middle.match-check
        .sub-container.main.middle
          h1.sub-title 交換請求清單
          .items-area.recommands(id="items-area-match")
      .inside-container.main.right
        .sub-container.main.right.want-match
          .items-area.top.match-check
            h1.sub-title.user-item(id="search-by-curuser-item" style="background:rgb(235,235,235)") 以您的物品查詢
            h1.sub-title.user-item(id="search-by-required-item") 以配對的物品查詢
          .items-area.user-items
            .sub-main-container.user-items(id="items-area-user-item")
  script(src="/javascripts/want_check.js")
