/* Original settings */
body {
  font: 14px Garamond;
  background-color: #2762B0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* 
Nav bar 
*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1992E2;
}

nav .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
}

/* nav-header */
.navbar-header {
  width: 20%;
  max-width: 200px;
}

.navbar-brand {
  margin: 0px;
  height: 90%;
}

/* nav-middle */
.navbar-middle {
  width: 56%;
  margin: 0 2%;
}

.container-inside {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-middle .container-inside input, .navbar-middle .container-inside div {
  text-align: center;
  border-radius: 15px;
} 

.search {
  height: 100%;
  width: 49%;
  padding: 4px 0;
  border: none;
}

.list {
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 4px 0;
  border: none;
}

/* nav-right */
.navbar-right {
  width: 20%;
  max-width: 240px;
  display: flex;
  align-items: center;
}

.member a {
  color: #fff;
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

.container-inside a {
  height: 24px;
}
/* 
main
 */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2762B0;
}

.main .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-left, .main-middle, .main-right {
  display: flex;
  flex-direction: column;
}

/* main-left */
.main-left {
  width : 20%;
  max-width: 200px;
  height: 100%;
}

.sub-main-container {
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color : #fff;
  margin: 15px 0;
}

.subscribe-item {
  display: flex;
}

.subscribe-content {
  display: flex;
  background-color: #fff;
  border-radius: 16px;
  color: #1992E2;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  padding: 2px 14px;
}

/* main-middle */
.main-middle {
  width: 56%;
  background: #aaa;
  margin: 0 2%;
}

.items-area.recommands {
  display: flex;
  flex-wrap: wrap;
}

.item-container-outside.recommands {
  background-color: #fff;
  border-radius: 15px;
  width: 240px;
  height: 400px;
}

.item-container-inside.recommands {
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  /* width: 100%;
  height: 100%; */
}

.item-container-inside.recommands .based-on {
  display: flex;
  justify-content: flex-start;
}

.item-container-inside.recommands .based-on span, .item-container-inside.recommands .item.content .item-info span {
  margin: 3px 2px 3px 0;
}

.item-container-inside.recommands .item-img.recommands {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container-inside.recommands .item-img.recommands img {
  max-width: 220px;
  max-height: 165px;
}

.item-container-inside.recommands .item.content div {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 500;
}

.item-container-inside.recommands .item.content .title {
  font-size: 20px;
}


/* main-right */
.main-right {
  width: 20%;
  max-width: 240px;
  background-color: #fff;
}

.ads img {
  max-width: 240px;
}

/* 
users_register
*/
.main-middle.sign {
  align-items: center;
}

.subtext.sign {
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 600;
}

.sub-main-container.sign, .sub-main-container.add-item {
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
}

.main-middle form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  margin-left: 10px;
}

.main-middle form p {
  width: 100%;
  margin: 14px 0 2px 12px ;
  font-weight: 500;
  font-size: 14px;
}

.main-middle form input {
  width: 100%;
  border-radius: 15px;
  padding-left: 10px;
  height: 24px;
}

.sub-main-container.sign .button-div, .sub-main-container.add-item .button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* .sub-main-container.sign .button-div a {
  color: #2762B0;
  font-size: 20px;
  font-weight: 500;
} */

.sub-main-container.sign .button-div button, .sub-main-container.add-item .button-div button {
  border-radius: 15px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  background-color: #FAD7AC;
  border: none;
  min-width: 80px;
}

.sub-main-container.sign .button-div.sign {
  margin-left: 10px;
  width: 50%;
}

/*
add_item  
*/