/* Original settings */
body {
  font: 14px Garamond;
  background-color: #2762B0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* 
Nav bar 
*/
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1992E2;
}

nav .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
}

/* nav-header */
.navbar-header {
  width: 20%;
  max-width: 200px;
}

.navbar-brand {
  margin: 0px;
  height: 90%;
}

/* nav-middle */
.navbar-middle {
  width: 56%;
  margin: 0 2%;
}

.container-inside {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-middle .container-inside input,
.navbar-middle .container-inside div {
  text-align: center;
  border-radius: 15px;
} 

.search {
  height: 100%;
  width: 49%;
  padding: 4px 0;
  border: none;
}

.list {
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 4px 0;
  border: none;
}

/* nav-right */
.navbar-right {
  width: 20%;
  max-width: 240px;
  display: flex;
  align-items: center;
}

.member a {
  color: #fff;
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

.container-inside a {
  height: 24px;
}
/* 
main
 */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2762B0;
}

.main .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-left,
.main-middle,
.main-right {
  display: flex;
  flex-direction: column;
}

/* main-left */
.main-left {
  width : 20%;
  max-width: 200px;
  height: 100%;
}

.sub-main-container {
  display: flex;
  flex-direction: column;
}

.subtext {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color : #fff;
  margin: 15px 0;
}

.subtext.subscribe {
  margin-bottom: 20px;
}

.subscribe-item {
  display: flex;
  flex-direction: column;
}

.subscribe-content {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.subscribe-item .subscribe-content span {
  background-color: #fff;
  border-radius: 16px;
  color: #1992E2;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  padding: 2px 14px;
  padding-left: 10px;
}

/* main-middle */
.main-middle {
  width: 56%;
  /* background: #aaa; */
  margin: 0 2%;
}

.items-area.recommands,
.items-div.user-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

#items-area-match {
  flex-direction: column;
}

.match-container {
  width: 90%;
  margin: 10px;
  background: #1992E2;
}

/* .item-container-selector :focus {
  background: #000;
} */

.item-container-outside.recommands {
  background-color: #fff;
  border-radius: 15px;
  width: 240px;
  height: 400px;
  margin-bottom: 10px;
}

.item-container-inside.recommands {
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  /* width: 100%;
  height: 100%; */
}

.item-container-inside.recommands .based-on {
  display: flex;
  justify-content: flex-start;
}

.item-container-inside.recommands .item.content .item-info {
  display: flex;
  justify-content: space-between;
}

.item-container-inside.recommands .based-on span,
.item-container-inside.recommands .item.content .item-info span {
  margin: 3px 2px 3px 0;
  color: #1992E2;
  font-weight: 500;
}

#basedon-tag {
  background-color: #B1DDF0;
  border-radius: 14px;
  color: #000;
  text-align: start;
  padding: 1px 5px;
  margin-left: 3px;
}

.items-area.recommands a {
  display: flex;
}

.item-container-inside.recommands .item-img.recommands {
  width:220px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.item-container-inside.recommands .item-img.recommands img {
  max-width: 220px;
  max-height: 165px;
}

.item-container-inside.recommands .item.content div {
  margin: 3px 0;
  font-size: 16px;
  font-weight: 500;
}

.item-container-inside.recommands .item.content .title {
  font-size: 24px;
  color: #1992E2;
  width: 220px;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}

#item-status {
  background-color: #FAD7AC;
  border-radius: 14px;
  color: #000;
  text-align: start;
  padding: 2px 6px;
}

.item.content .tags {
  display: flex;
  flex-wrap: wrap;
}

.item.content .tags span {
  background-color: #B1DDF0;
  border-radius: 14px;
  color: #000;
  text-align: start;
  padding: 2px 6px;
  margin: 0 5px 5px 0;
}
.sub-main-container.recommands .nomore-text-div {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  background: #fff;
  border-radius: 16px;
  color: #2762B0;
}

/* Item Dtails */
.sub-main-container.item-detail,
.sub-main-container.user-items {
  border-radius: 16px;
  background: #fff;
  margin-bottom: 20px;
}

.sub-main-container.user-items {
  background: #2762B0;
}

.title.item-detail,
.title.user-items {
  font-size: 36px;
  color: #1992E2;
  width: 100%;
  font-weight: 600;
  margin: 20px;
}

.title.user-items {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 15px 0;
  background: #FAD7AC;
  border-radius: 16px;
}

.picture-div.item-detail {
  display: flex;
  justify-content: center;
}

.picture-div.item-detail img {
  max-width: 500px;
  max-height: 500px;
  padding: 20px;

}

.interaction.item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickname.item-detail,
.introduction-div.item-detail {
  font-size: 24px;
  color: #1992E2;
  font-weight: 600;
  margin: 20px;
}

.change-button.item-detail button {
  margin-right: 20px;
  background-color: #FAD7AC;
  border-radius: 14px;
  color: #000;
  text-align: start;
  padding: 2px 6px;
  font-size: 24px;
  font-weight: 500;
}

.successMsgDiv {
  background: #FAD7AC;
  color: #000;
  display: flex;
  border-radius: 16px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding : 20px;
  max-height: 3em;
}

/* main-right */
.main-right {
  width: 20%;
  max-width: 240px;
}

.ads img {
  max-width: 240px;
  background-color: #fff;
  border-radius: 15px;
}

/* 
users_register
*/
.main-middle.sign {
  align-items: center;
}

.subtext.sign {
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 600;
}

.sub-main-container.sign,
.sub-main-container.add-item {
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
}

.main-middle form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
}

.main-middle form p {
  width: 100%;
  margin: 14px 0 2px 12px ;
  font-weight: 500;
  font-size: 14px;
}

.main-middle form input,
.main-middle form select {
  width: 100%;
  border-radius: 15px;
  padding-left: 10px;
  height: 24px;
}

.main-middle form input.introduction {
  min-height: 100px;
}

.sub-main-container.sign .button-div,
.sub-main-container.add-item .button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.sub-main-container.sign .button-div button,
.sub-main-container.add-item .button-div button,
.button-div.item-detail.change button {
  border-radius: 15px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  background-color: #FAD7AC;
  border: none;
  min-width: 80px;
}

.sub-main-container.sign .button-div.sign {
  margin-left: 10px;
  width: 50%;
}

/*
add_item  
*/